/* General Layout and Styling */
.appBar {
  background-color: #f5f6fd !important;
  color: black !important;
/* MyPage.module.css */
}


.logoutButton {
  color: gray !important;
  border: 1px solid gray !important;
  background-color: white !important;
  border-radius: 10px !important;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.logoText {
  flex-grow: 1;
}

/* Main Container */
.main_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

/* Heading Section */
.headingText {
  width: 90% !important;
  padding: 30px;
}

/* Table Styling */
.tableContainer {
  padding: 30px !important;
  width: 90% !important;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHead {
  background-color: #1976d2;
  color: white;
}

.tableRow {
  &:hover {
    background-color: #f5f5f5;
  }
}

.tableBody {
  background-color: #fafafa;
}

.tableFooter {
  background-color: #1976d2;
  color: white;
}

/* Adjust Scroll and Overflow Issues */
.main_container {
  overflow: hidden;
}

.tableContainer {
  height: 75%; /* Adjust this based on your requirements */
  overflow: hidden;
  overflow-y: auto;
}

/* Pagination Styling */
.MuiPaginationItem-root {
  font-size: 14px;
  border-radius: 4px;
}

.MuiPaginationItem-root.Mui-selected {
  background-color: red;
  color: white;
}

.MuiPaginationItem-root:hover {
  background-color: rgba(255, 0, 0, 0.1);
}

.MuiPaginationItem-root.Mui-selected:hover {
  background-color: red;
}
/* MyPage.module.css */

.main_container {
  margin: 30px;
}

.tableContainer {
  margin-top: 20px;
  border-radius: 8px; /* Optional: Round the table corners */
  overflow: hidden; /* Ensures that rounded corners are not cut off */
}

.table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders don't overlap */
}

.tableHead {
  background-color: #1976d2; /* Header background color */
  color: white;
}

.tableRow {
  &:hover {
    background-color: #f5f5f5; /* Row hover color */
  }
}

.tableCell {
  padding: 16px;
  border-bottom: 1px solid #ddd; /* Add border between rows */
}

.tableBody {
  background-color: #fafafa; /* Body background color */
}

.tableFooter {
  background-color: #1976d2; /* Footer background color */
  color: white;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}
.expoterButtons {
  border-radius: 10px !important;
  background-color: #fafafa !important;
  color: black !important;
}

.createButton {
  margin-right: 15px !important;
  color: white !important;
  background-color: red !important;
  border-radius: 10px !important;
}
